@model IEnumerable<Web_D1M.Models.Alumno>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
        <a asp-action="Create">Nuevo Curso</a>
        <h1>Listado de cursos</h1>
        <table class="table table-bordered" border="2">
            <tr>
                <td>ID CURSO</td>
                <td>NOMBRE DEL CURSO</td>
                <td>HORAS DEL CURSO</td>
                <td>PROFESOR</td>
                <td>NUMERO DE ESTUDIANTES</td>

                <td>EDITAR</td>
                <td>ELIMINAR</td>
                <
        </tr>
           @foreach(var item in Model)
           {
                <tr>
                    <td>@item.AluCodigo</td>
                    <td>@item.AluNombres</td>
                    <td>@item.AluPaterno</td>

                    <td><a asp-action="Edit" asp-route-id="@item.IdAlumno">Editar</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.IdAlumno">Eliminar</a></td>
                </tr>
           }
        </table>    
    </body>
</html>
